.search_route_btn_wrapper {
    position: fixed;
    top: 100px;
    left: 10px;
}

.btn {
    padding: 10px;
    background: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 2px grey;
    font-size: 16px;
}