.stop_name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.routeWithStop {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

.routeWithStop span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.route_name_in_routes {
    color: darkblue;
    font-size: 13px;
    font-weight: 500;
}

.route_name_in_times {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show_routes {
    font-size: 12px;
    color: darkblue;
}

.show_routes:hover {
    text-decoration: underline;
    cursor: pointer;
}

.show_times {
    margin-left: 20px;
    float: right;
    color: darkblue;
}

.times_wrapper {
    max-width: 400px;
    padding: 2px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;

}

.time {
    flex: 1 1 auto;
    color: darkblue;
    text-align: center;
    background: aquamarine;
    box-shadow: 0 0 2px darkblue;
}